.container{
  /* border: 2px solid ; */
  display: flex;
  background-image:url("../public/images/fundoabstrato.png"); ;
  background-size: cover;
  width: 100%;
  height: 0 auto;
  border-radius: 13rem 0 13rem 0;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  max-width: 100%;  
}

.container h1{
  text-align: center;
  font-size: 50px;
  color: #CD0000;
  margin-bottom: 4rem;
  border:1px solid;
}

.section{
  /* border: 2px solid blue; */
  display: flex;
  width: 90%;
  height: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  padding: 3rem;  
}

.section p{
  /* border: 2px solid ; */
  text-align: justify;
  width: 90%;

}

.imagem{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 0 auto;
  
}