.home{
  /* border: 2px solid tomato; */
  background: #7ddafc;
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  width: 100%;
  padding: 3px 10px;
  min-height: 90vh;
  font-size: 18px;
}

.home h1{
  margin: 2rem;
  color:#3b61aa;
}

.listpokemon{
  /* border:2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 0 auto;
  /* flex-direction: column; */
}